.ant-card {
    border-radius: 20px !important;
}
.ant-btn-primary {
    font-weight: bold !important;
}

.ant-select, .ant-select-selector, .ant-picker, .ant-input-number{
    border-radius: 20px !important;
}

