@import url("./ant_style.scss");
@import url("./animations.scss");

$primary-color: #c0004e;
$success-color: #709d5a;

html,
body {
  overflow-x: hidden;
}

input {
  border-radius: 20px !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.ant-progress-bg {
  background-color: $success-color !important;
}

// MA
@for $i from 1 through 4 {
  .ma-#{$i*4} {
    margin: #{$i*4}px;
  }
}

// MT
@for $i from 1 through 4 {
  .mt-#{$i*4} {
    margin-top: #{$i*4}px;
  }
}

// MR
@for $i from 1 through 4 {
  .mr-#{$i*4} {
    margin-right: #{$i*4}px;
  }
}

// MB
@for $i from 1 through 4 {
  .mb-#{$i*4} {
    margin-bottom: #{$i*4}px;
  }
}

// ML
@for $i from 1 through 4 {
  .ml-#{$i*4} {
    margin-left: #{$i*4}px;
  }
}

// PA
@for $i from 1 through 4 {
  .pa-#{$i*4} {
    padding: #{$i*4}px;
  }
}

// PT
@for $i from 1 through 4 {
  .pt-#{$i*4} {
    padding-top: #{$i*4}px;
  }
}